*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* header */
.header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    transform: scale(1.15);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
    font-weight: 600;
}

/* UPPER SITE STYLING */

section.upper-site{
    padding: 50px 4%;
}

section.upper-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.upper-site h1{
    font-size: 38px;
}

.upper-site span{
    color: rgb(227, 148, 1);
}

.upper-site .icons ul{
    padding-left: 0;
}

.icons li{
    display: inline-block;
    padding: 10px 10px 10px 0px;
    transition: .2s;
}

.icons li:hover{
    transform: scale(1.15);
}

div.icons img{
    height: 30px;
}

.upper-site .img-upper-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:10px;
    }
}

/* TECH STACKS STYLING */
.tech-stack{
    padding: 50px 4%;
    justify-content: start;
}

.tech-stack .interface{
    font-size: 10px;
}

.tech-stack .flex{
    display: flex;
    align-items: center;
    gap: 35px;
}

.tech-stack .tech-stack-box img{
    height: 40px;
}

/* ABOUT ME */
section.about{
    padding: 40px 4%;
}

section.about .flex{
    align-items: center;
    gap: 60px;
}

.about .txt-about h1{
    font-size: 20px;
}

.about .txt-about h2{
    font-size: 30px;
}
